<p>Groente:</p>
<select name="groente" id="groente" [(ngModel)]="geselecteerdeGroente">
  <option>--- maak uw keuze ---</option>
  @for (groente of alleGroenten; track groente.naam) {
    <option>{{ groente.naam }} ({{ groente.prijs }}/{{ groente.eenheid }})</option>
  }
</select>

<p>Aantal:</p>
<input id="aantal" type="number" [(ngModel)]="aantal">
<br>
<br>
<button (click)="mandjeAanmaken()">Toevoegen aan mandje</button>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Groente</th>
    <th scope="col">Aantal</th>
    <th scope="col">Prijs</th>
    <th scope="col">Te betalen</th>
  </tr>
  </thead>

  <tbody>
    @for (groente of groentenMandje; track groente.naam) {
      <tr>
        <td>{{ groente.naam }}</td>
        <td>{{ groente.aantal }}</td>
        <td>€{{ groente.prijs }}</td>
        <td>€{{ groente.aantal * groente.prijs }}</td>
        <td (click)="rijVerwijderen(groente)"><img src="assets/vuilbak.png" alt="vuilbak icoon"></td>
      </tr>
    }
  <tr>
    <b>
      <td>Totaal:</td>
      <td>€{{ berekenTotaal().toFixed(2) }}</td>
    </b>
  </tr>
  </tbody>
</table>
