<p>Groente:</p>
<select name="groente" id="groente" [(ngModel)]="geselecteerdeGroente">
  <option>--- maak uw keuze ---</option>
  @for (groente of alleGroenten; track groente.naam){
    <option>{{groente.naam}} ({{groente.prijs}}/{{groente.eenheid}})</option>
  }
</select>

<p>Aantal:</p>
<input id="aantal" type="number" [(ngModel)]="aantal">
<br>
<br>
<button (click)="mandjeAanmaken()">Toevoegen aan mandje</button>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Winkel</th>
    <th scope="col">Groente</th>
    <th scope="col">Aantal</th>
    <th scope="col">Prijs</th>
    <th scope="col">currency</th>
    <th scope="col">TotaalPrijs</th>
  </tr>
  </thead>

  <tbody>
  @for (groente of groentenMandje; track groente.naam){
    <td>{{ groente.naam}}</td>
    <td>{{ groente.prijs}}</td>
    <td>{{ aantal * groente.prijs}}</td>
  }
  </tbody>
</table>
